/StayEasy-Project/StayEasy/nbproject/private/
/StayEasy-Project/StayEasy/build/
/StayEasy-Project/StayEasy/dist/
/StayEasy-Project/StayEasy_1/nbproject/private/
/StayEasy-Project/StayEasy_2/nbproject/private/
