.e49c12619e{min-height:540px;
           height:calc(100vh - 80px);
           display:flex;
           flex-direction:column;
           justify-content:center;
           width:720px;
           margin:0 auto;
           text-align:center}.c626ca0f00{font-size:48px;
                      font-weight:700;
                      line-height:62px;
                      font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
                      margin-bottom:16px}.f470d9f909{font-size:20px;
                                 font-weight:400;line-height:28px;
                                 font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
                                 color:#6b6b6b}.a867464814{margin-top:48px}.f65e382015{display:inline-block;padding:32px;background-color:#fff;color:#262626;font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;border:1px solid #e7e7e7;border-radius:2px;box-sizing:border-box;width:210px;margin:0 12px;text-decoration:none;font-size:16px;font-weight:700;vertical-align:top}.f65e382015 img{display:block;margin:0 auto 24px}
.b141d287b4{height:100vh;display:flex;flex-direction:column;justify-content:space-between}.b5c2014b0a{background-color:#003580}.acacf81c11{padding:16px;display:flex;align-items:center;justify-content:space-between;max-width:1140px;margin:0 auto}