<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>Controller.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainContronller</servlet-name>
        <servlet-class>Controller.mainContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditAccountServlet</servlet-name>
        <servlet-class>Controller.NextEditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardHostServlet</servlet-name>
        <servlet-class>Controller.DashboardHostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>Controller.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>Controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>Controller.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHouseServlet</servlet-name>
        <servlet-class>Controller.ListHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseServlet</servlet-name>
        <servlet-class>Controller.NextEditHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseServlet</servlet-name>
        <servlet-class>Controller.EditHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <servlet-class>Controller.DeleteHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHouseServlet</servlet-name>
        <servlet-class>Controller.AddHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddHouseServlet</servlet-name>
        <servlet-class>Controller.NextAddHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>Controller.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>Controller.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHouseServlet</servlet-name>
        <servlet-class>Controller.SearchHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBillServlet</servlet-name>
        <servlet-class>Controller.ListBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditBillServlet</servlet-name>
        <servlet-class>Controller.NextEditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillServlet</servlet-name>
        <servlet-class>Controller.EditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBillServlet</servlet-name>
        <servlet-class>Controller.DeleteBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBillServlet</servlet-name>
        <servlet-class>Controller.AddBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBillServlet</servlet-name>
        <servlet-class>Controller.getBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHouseImgServlet</servlet-name>
        <servlet-class>Controller.getHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddBillServlet</servlet-name>
        <servlet-class>Controller.NextAddBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddCommentServlet</servlet-name>
        <servlet-class>Controller.NextAddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseImgServlet</servlet-name>
        <servlet-class>Controller.NextEditHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseImgServlet</servlet-name>
        <servlet-class>Controller.EditHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceServlet</servlet-name>
        <servlet-class>Controller.ListServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.getAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddServiceServlet</servlet-name>
        <servlet-class>Controller.NextAddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.AddHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.NextEditHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.EditHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.DeleteHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAddService</servlet-name>
        <servlet-class>Controller.ListAddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.NextEditAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.EditAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.DeleteAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.AddAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAddServiceServlet</servlet-name>
        <servlet-class>Controller.SearchAddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillServlet</servlet-name>
        <servlet-class>Controller.SearchBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHouseMain</servlet-name>
        <servlet-class>Controller.SearchHouseMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HousePageServlet</servlet-name>
        <servlet-class>Controller.HousePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/ListAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainContronller</servlet-name>
        <url-pattern>/mainContronller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditAccountServlet</servlet-name>
        <url-pattern>/NextEditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/EditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHouseServlet</servlet-name>
        <url-pattern>/ListHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditHouseServlet</servlet-name>
        <url-pattern>/NextEditHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseServlet</servlet-name>
        <url-pattern>/EditHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <url-pattern>/DeleteHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHouseServlet</servlet-name>
        <url-pattern>/AddHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddHouseServlet</servlet-name>
        <url-pattern>/NextAddHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHouseServlet</servlet-name>
        <url-pattern>/SearchHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBillServlet</servlet-name>
        <url-pattern>/ListBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditBillServlet</servlet-name>
        <url-pattern>/NextEditBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillServlet</servlet-name>
        <url-pattern>/EditBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBillServlet</servlet-name>
        <url-pattern>/DeleteBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBillServlet</servlet-name>
        <url-pattern>/AddBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBillServlet</servlet-name>
        <url-pattern>/getBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHouseImgServlet</servlet-name>
        <url-pattern>/getHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddBillServlet</servlet-name>
        <url-pattern>/NextAddBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddCommentServlet</servlet-name>
        <url-pattern>/NextAddCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLocationServlet</servlet-name>
        <url-pattern>/GetLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLocationServlet</servlet-name>
        <servlet-class>Controller.GetLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NextEditHouseImgServlet</servlet-name>
        <url-pattern>/NextEditHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseImgServlet</servlet-name>
        <url-pattern>/EditHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceServlet</servlet-name>
        <url-pattern>/ListServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdditionalServiceServlet</servlet-name>
        <url-pattern>/getAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddServiceServlet</servlet-name>
        <url-pattern>/NextAddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/AddHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/NextEditHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/EditHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/DeleteHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAddService</servlet-name>
        <url-pattern>/ListAddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditAdditionalServiceServlet</servlet-name>
        <url-pattern>/NextEditAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdditionalServiceServlet</servlet-name>
        <url-pattern>/EditAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
        <url-pattern>/DeleteAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdditionalServiceServlet</servlet-name>
        <url-pattern>/AddAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAddServiceServlet</servlet-name>
        <url-pattern>/SearchAddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillServlet</servlet-name>
        <url-pattern>/SearchBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHouseMain</servlet-name>
        <url-pattern>/search-house-main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HousePageServlet</servlet-name>
        <url-pattern>/housepage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
