<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>Controller.User.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainContronller</servlet-name>
        <servlet-class>Controller.User.mainContronller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditAccountServlet</servlet-name>
        <servlet-class>Controller.User.NextEditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardHostServlet</servlet-name>
        <servlet-class>Controller.User.DashboardHostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>Controller.User.EditAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>Controller.User.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>Controller.User.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHouseServlet</servlet-name>
        <servlet-class>Controller.User.ListHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseServlet</servlet-name>
        <servlet-class>Controller.User.NextEditHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseServlet</servlet-name>
        <servlet-class>Controller.User.EditHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <servlet-class>Controller.User.DeleteHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.User.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHouseServlet</servlet-name>
        <servlet-class>Controller.User.AddHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddHouseServlet</servlet-name>
        <servlet-class>Controller.User.NextAddHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>Controller.User.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>Controller.User.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHouseServlet</servlet-name>
        <servlet-class>Controller.User.SearchHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBillServlet</servlet-name>
        <servlet-class>Controller.User.ListBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditBillServlet</servlet-name>
        <servlet-class>Controller.User.NextEditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillServlet</servlet-name>
        <servlet-class>Controller.User.EditBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBillServlet</servlet-name>
        <servlet-class>Controller.User.DeleteBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBillServlet</servlet-name>
        <servlet-class>Controller.User.AddBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getBillServlet</servlet-name>
        <servlet-class>Controller.getBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHouseImgServlet</servlet-name>
        <servlet-class>Controller.User.getHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddBillServlet</servlet-name>
        <servlet-class>Controller.User.NextAddBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddCommentServlet</servlet-name>
        <servlet-class>Controller.User.NextAddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseImgServlet</servlet-name>
        <servlet-class>Controller.User.NextEditHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseImgServlet</servlet-name>
        <servlet-class>Controller.User.EditHouseImgServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServiceServlet</servlet-name>
        <servlet-class>Controller.User.ListServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.getAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextAddServiceServlet</servlet-name>
        <servlet-class>Controller.User.NextAddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.AddHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.NextEditHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.EditHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.DeleteHouseAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAddService</servlet-name>
        <servlet-class>Controller.User.ListAddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextEditAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.NextEditAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.EditAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.DeleteAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdditionalServiceServlet</servlet-name>
        <servlet-class>Controller.User.AddAdditionalServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAddServiceServlet</servlet-name>
        <servlet-class>Controller.User.SearchAddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillServlet</servlet-name>
        <servlet-class>Controller.SearchBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHouseMain</servlet-name>
        <servlet-class>Controller.User.SearchHouseMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HousePageServlet</servlet-name>
        <servlet-class>Controller.User.HousePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.User.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityServlet</servlet-name>
        <servlet-class>Controller.User.SecurityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.User.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hostpage</servlet-name>
        <servlet-class>Controller.Hostpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQ</servlet-name>
        <servlet-class>Controller.User.FAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HouseHost</servlet-name>
        <servlet-class>Controller.HouseHost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveHouseServlet</servlet-name>
        <servlet-class>Controller.User.RemoveHouseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostComment</servlet-name>
        <servlet-class>Controller.HostComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillHostServlet</servlet-name>
        <servlet-class>Controller.User.BillHostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHouseHost</servlet-name>
        <servlet-class>Controller.SearchHouseHost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHouseHost</servlet-name>
        <servlet-class>Controller.AddHouseHost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/ListAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainContronller</servlet-name>
        <url-pattern>/mainContronller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditAccountServlet</servlet-name>
        <url-pattern>/NextEditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/EditAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHouseServlet</servlet-name>
        <url-pattern>/ListHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditHouseServlet</servlet-name>
        <url-pattern>/NextEditHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseServlet</servlet-name>
        <url-pattern>/EditHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseServlet</servlet-name>
        <url-pattern>/DeleteHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHouseServlet</servlet-name>
        <url-pattern>/AddHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddHouseServlet</servlet-name>
        <url-pattern>/NextAddHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHouseServlet</servlet-name>
        <url-pattern>/SearchHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBillServlet</servlet-name>
        <url-pattern>/ListBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditBillServlet</servlet-name>
        <url-pattern>/NextEditBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillServlet</servlet-name>
        <url-pattern>/EditBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBillServlet</servlet-name>
        <url-pattern>/DeleteBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBillServlet</servlet-name>
        <url-pattern>/AddBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getBillServlet</servlet-name>
        <url-pattern>/getBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHouseImgServlet</servlet-name>
        <url-pattern>/getHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddBillServlet</servlet-name>
        <url-pattern>/NextAddBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddCommentServlet</servlet-name>
        <url-pattern>/NextAddCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLocationServlet</servlet-name>
        <url-pattern>/GetLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetLocationServlet</servlet-name>
        <servlet-class>Controller.User.GetLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NextEditHouseImgServlet</servlet-name>
        <url-pattern>/NextEditHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseImgServlet</servlet-name>
        <url-pattern>/EditHouseImgServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServiceServlet</servlet-name>
        <url-pattern>/ListServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAdditionalServiceServlet</servlet-name>
        <url-pattern>/getAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextAddServiceServlet</servlet-name>
        <url-pattern>/NextAddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/AddHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/NextEditHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/EditHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseAdditionalServiceServlet</servlet-name>
        <url-pattern>/DeleteHouseAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAddService</servlet-name>
        <url-pattern>/ListAddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextEditAdditionalServiceServlet</servlet-name>
        <url-pattern>/NextEditAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdditionalServiceServlet</servlet-name>
        <url-pattern>/EditAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdditionalServiceServlet</servlet-name>
        <url-pattern>/DeleteAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdditionalServiceServlet</servlet-name>
        <url-pattern>/AddAdditionalServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAddServiceServlet</servlet-name>
        <url-pattern>/SearchAddServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillServlet</servlet-name>
        <url-pattern>/SearchBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHouseMain</servlet-name>
        <url-pattern>/search-house-main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HousePageServlet</servlet-name>
        <url-pattern>/housepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityServlet</servlet-name>
        <url-pattern>/SecurityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hostpage</servlet-name>
        <url-pattern>/hostpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/faqpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HouseHost</servlet-name>
        <url-pattern>/househost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveHouseServlet</servlet-name>
        <url-pattern>/RemoveHouseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostComment</servlet-name>
        <url-pattern>/HostComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillHostServlet</servlet-name>
        <url-pattern>/BillHostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHouseHost</servlet-name>
        <url-pattern>/SearchHouseHost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHouseHost</servlet-name>
        <url-pattern>/AddHouseHost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
